
:root {
    --primaryColor: #212121;
    --secondaryColor: #757575;
    --accentColor: #2196F3;
    --bgW: #FFFFFF;
    --bgG: #2F303A;
    --bgLG: #F5F4FA;
    --logoBlack: #000000;
    --iconG: #AFB1B8;
    --cardGap: 30px;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--primaryColor);
    background: var(--bgW);
    }

    h1,
    h2,
    h3,
    p,
    ul{
        margin: 0;
        padding: 0;
    }

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.benefits,
.whatdoing,
.team,
.clients,
.cards {
    padding: 94px 0 94px 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn {
    cursor: pointer;
    font-family: inherit;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    font-style: normal;
    color: inherit;
}

.link:hover,
.link:focus,
.btn:hover,
.btn:focus,
.icon:hover,
.icon:focus {
    color: var(--accentColor);
    fill: var(--accentColor);
}

.header-container,
.whatdoing-images,
.team-cards,
.benefits-columns,
.clients-list,
.icons-list {
    display: flex;
    justify-content: space-between;
}

.effective-btn,
.benefits-thumb,
.social-link,
.client-link,
.filter-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER ------------------------------------------------------------------------ */

.header {
    padding: 25px 0;
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    align-items: center;
}

.navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
}

.navigation-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-link {
    padding: 6px 0;
}

.logo-black {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: var(--logoBlack);
    margin-right: 93px;
}
.logo-black span {
    color: var(--accentColor);
}
.logo-black:hover,
.logo-black:focus {
    color: var(--logoBlack);
}

.contacts-item:not(:last-child) {
    margin-right: 50px;
}

.contacts {
    display: flex;
    align-items: center;
}

.mail,
.tel {
    color: var(--secondaryColor);
    fill: var(--secondaryColor);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    padding: 5px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.current {
    color: var(--accentColor);
    position: relative;
}

.current::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -31.39px;
    transform: translate(-50% , -100%);
    width: calc(100% + 3px);
    height: 4px;
    background: var(--accentColor);
    border-radius: 2px;
    pointer-events: none;
}

/* FOOTER -------------------------------------------------------------------------*/

.footer {
    background: var(--bgG);
    padding: 60px 0;
}

.footer-container {
    display: flex;
    gap: 70px;
    align-items: baseline;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.address {
    font-size: 14px;
    line-height: 1.71;
    color: var(--bgW);
}

.mail-footer,
.tel-footer {
    line-height: 1.71;
    color: var(--secondaryColor);
    font-size: 14px;
}

.logo-white {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: var(--bgW);
    display: inline-block;
    margin-bottom: 20px;
}
.logo-white span {
    color: var(--accentColor);
}

.logo-white:hover,
.logo-white:focus {
    color: var(--bgW);
}

.footer-socials {
    width: 210px;
}

.footer-thumb .social-link {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--bgW);
}

.footer-thumb .social-link:hover,
.footer-thumb .social-link:focus {
    background-color: var(--accentColor);
}

.footer-p {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--bgW);
    margin-bottom: 20px;
}

/* INDEX --------------------------------------------------------------------------*/

.effective {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background: 
    linear-gradient(90deg, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
    url('../img/heroBG.jpg') center no-repeat,
    var(--bgG);
    background-size: cover;
    padding: 200px 0;
}

.effective-title {
    margin: 0 auto 30px auto;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--bgW);
}

.effective-btn {
    margin: 0 auto;
    padding: 10px;
    min-width: 200px;
    font-weight: 700;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--bgW);
    background: var(--accentColor);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.effective-btn:focus,
.effective-btn:hover {
    background: #188CE8;
    color: var(--bgW);
}

.benefits {
    padding-bottom: 0;
}

.benefits-title,
.porfolio-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.benefits-thumb {
    height: 120px;
    background-color: var(--bgLG);
    margin-bottom: var(--cardGap);
}
.benefits-article {
    flex-basis: calc((100% - var(--cardGap)*3) / 4);
}

.benefits-article h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.benefits-article p {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondaryColor);
}

.whatdoing-image {
    position: relative;
}

.whatdoing-image p {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--bgW);
    background: rgba(47, 48, 58, 0.8);
}

.whatdoing-title,
.team-title,
.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto 50px auto;
}

.team {
    background: var(--bgLG);
} 

.team-developer {
    background: var(--bgW);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-description {
    padding: 30px 30px;
}

.team-developer h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
    }

.team-developer p {
    line-height: 1.2;
    text-align: center;
    color: var(--secondaryColor);
    margin-bottom: 16px;
}

.team-thumb .social-link:focus,
.team-thumb .social-link:hover {
    fill: var(--bgW);
    background-color: var(--accentColor);
}

.social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--iconG);
}

.client-link {
    width: 170px;
    height: 92px;
    border: 1px solid var(--iconG);
    border-radius: 4px;
    fill: var(--iconG);
}

.client-link:hover,
.client-link:focus {
    border: 1px solid var(--accentColor);
}

/* PORFOLIO -----------------------------------------------------------------------*/

.filter-list {
    margin-bottom: 50px;
}

.filter-button {
    background: var(--bgLG);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    line-height: 1.62;
    padding: 6px 22px;
}

.filter-btn:not(:last-child) {
    margin-right: 8px;
}

.filter-button:hover,
.filter-button:focus {
    background: var(--accentColor);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--bgW);
}

.cards-list {
    display: flex;
    flex-wrap: wrap;

    margin-right: calc(-1 * var(--cardGap));
    margin-bottom: calc(-1 * var(--cardGap));
}

.cards-card {
    flex-basis: calc((100% - var(--cardGap)*3) / 3);
    margin-right: var(--cardGap);
    margin-bottom: var(--cardGap);
}

.cards-card:hover,
.cards-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-card:hover .card-thumb p,
.cards-card:focus .card-thumb p {
    opacity: 1;
}

.card-thumb {
    position: relative;
}

.card-thumb p {
    position: absolute;
    left: 0;
    top: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    color: var(--bgW);
    background: rgba(33, 150, 243, 0.9);
    opacity: 0;
}

.card-description {
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.cards-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.cards-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.cards-link:hover,
.cards-link:focus {
    color: inherit;
}

.cards-text {
    line-height: 1.88;
    color: var(--secondaryColor);
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    width: 528px;
    height: 581px;
    background: var(--bgW);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.close-btn {
    display: block;
    margin: 8px 8px 0 auto;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: inherit;
}